In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_excel('Energy Indicators.xls',skiprows=17,skipfooter=38)
data

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Petajoules,Gigajoules,%
0,NaN,Afghanistan,Afghanistan,321,10,78.669280
1,NaN,Albania,Albania,102,35,100.000000
2,NaN,Algeria,Algeria,1959,51,0.551010
3,NaN,American Samoa,American Samoa,...,...,0.641026
4,NaN,Andorra,Andorra,9,121,88.695650
5,NaN,Angola,Angola,642,27,70.909090
6,NaN,Anguilla,Anguilla,2,136,0.000000
7,NaN,Antigua and Barbuda,Antigua and Barbuda,8,84,0.000000
8,NaN,Argentina,Argentina,3378,79,24.064520
9,NaN,Armenia,Armenia,143,48,28.236060
10,NaN,Aruba,Aruba,12,120,14.870690
11,NaN,Australia,Australia1,5386,231,11.810810
12,NaN,Austria,Austria,1391,164,72.452820
13,NaN,Azerbaijan,Azerbaijan,567,60,6.384345
14,NaN,Bahamas,Bahamas,45,118,0.000000
15,NaN,Bahrain,Bahrain,574,425,0.000000
16,NaN,Bangladesh,Bangladesh,1625,10,1.966329
17,NaN,Barbados,Barbados,19,69,0.000000
18,NaN,Belarus,Belarus,1142,120,0.463389
19,NaN,Belgium,Belgium,2338,210,9.959739
20,NaN,Belize,Belize,13,39,64.690030
21,NaN,Benin,Benin,170,16,0.000000
22,NaN,Bermuda,Bermuda,6,88,0.000000
23,NaN,Bhutan,Bhutan,63,83,100.000000
24,NaN,Bolivia (Plurinational State of),Bolivia (Plurinational State of),336,32,31.477120
25,NaN,"Bonaire, Sint Eustatius and Saba","Bonaire, Sint Eustatius and Saba",5,213,0.000000
26,NaN,Bosnia and Herzegovina,Bosnia and Herzegovina,266,70,41.464670
27,NaN,Botswana,Botswana,86,39,0.131406
28,NaN,Brazil,Brazil,12149,59,69.648030
29,NaN,British Virgin Islands,British Virgin Islands,2,85,0.000000
...,...,...,...,...,...,...
197,NaN,Switzerland,Switzerland17,1113,136,57.745480
198,NaN,Syrian Arab Republic,Syrian Arab Republic,542,28,11.568270
199,NaN,Tajikistan,Tajikistan,106,13,99.742920
200,NaN,Thailand,Thailand,5336,79,4.305189
201,NaN,The former Yugoslav Republic of Macedonia,The former Yugoslav Republic of Macedonia,117,56,26.140470
202,NaN,Timor-Leste,Timor-Leste,7,6,0.000000
203,NaN,Togo,Togo,134,19,80.180180
204,NaN,Tonga,Tonga,3,28,0.000000
205,NaN,Trinidad and Tobago,Trinidad and Tobago,824,611,0.000000
206,NaN,Tunisia,Tunisia,430,39,3.492547
207,NaN,Turkey,Turkey,4897,64,28.536690
208,NaN,Turkmenistan,Turkmenistan,1102,210,0.000000
209,NaN,Turks and Caicos Islands,Turks and Caicos Islands,3,85,0.000000
210,NaN,Tuvalu,Tuvalu,...,...,0.000000
211,NaN,Uganda,Uganda,452,12,68.018180
212,NaN,Ukraine,Ukraine18,4844,107,8.067312
213,NaN,United Arab Emirates,United Arab Emirates,2710,300,0.000000
214,NaN,United Kingdom of Great Britain and Northern I...,United Kingdom of Great Britain and Northern I...,7920,124,10.600470
215,NaN,United Republic of Tanzania,United Republic of Tanzania,994,20,31.072840
216,NaN,United States of America,United States of America20,90838,286,11.570980
217,NaN,United States Virgin Islands,United States Virgin Islands,...,...,0.000000
218,NaN,Uruguay,Uruguay,196,58,71.605040
219,NaN,Uzbekistan,Uzbekistan,1798,62,21.328410
220,NaN,Vanuatu,Vanuatu,3,10,14.705880
221,NaN,Venezuela (Bolivarian Republic of),Venezuela (Bolivarian Republic of),2871,95,67.834520
222,NaN,Viet Nam,Viet Nam,2554,28,45.321520
223,NaN,Wallis and Futuna Islands,Wallis and Futuna Islands,0,26,0.000000
224,NaN,Yemen,Yemen,344,13,0.000000
225,NaN,Zambia,Zambia,400,26,99.714670
226,NaN,Zimbabwe,Zimbabwe,480,32,52.536120

In [4]:
data.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Petajoules', 'Gigajoules',
       '%'],
      dtype='object')

In [6]:
data =data[['Unnamed: 2','Petajoules','Gigajoules','%']]
data

,Unnamed: 2,Petajoules,Gigajoules,%
0,Afghanistan,321,10,78.669280
1,Albania,102,35,100.000000
2,Algeria,1959,51,0.551010
3,American Samoa,...,...,0.641026
4,Andorra,9,121,88.695650
5,Angola,642,27,70.909090
6,Anguilla,2,136,0.000000
7,Antigua and Barbuda,8,84,0.000000
8,Argentina,3378,79,24.064520
9,Armenia,143,48,28.236060
10,Aruba,12,120,14.870690
11,Australia1,5386,231,11.810810
12,Austria,1391,164,72.452820
13,Azerbaijan,567,60,6.384345
14,Bahamas,45,118,0.000000
15,Bahrain,574,425,0.000000
16,Bangladesh,1625,10,1.966329
17,Barbados,19,69,0.000000
18,Belarus,1142,120,0.463389
19,Belgium,2338,210,9.959739
20,Belize,13,39,64.690030
21,Benin,170,16,0.000000
22,Bermuda,6,88,0.000000
23,Bhutan,63,83,100.000000
24,Bolivia (Plurinational State of),336,32,31.477120
25,"Bonaire, Sint Eustatius and Saba",5,213,0.000000
26,Bosnia and Herzegovina,266,70,41.464670
27,Botswana,86,39,0.131406
28,Brazil,12149,59,69.648030
29,British Virgin Islands,2,85,0.000000
...,...,...,...,...
197,Switzerland17,1113,136,57.745480
198,Syrian Arab Republic,542,28,11.568270
199,Tajikistan,106,13,99.742920
200,Thailand,5336,79,4.305189
201,The former Yugoslav Republic of Macedonia,117,56,26.140470
202,Timor-Leste,7,6,0.000000
203,Togo,134,19,80.180180
204,Tonga,3,28,0.000000
205,Trinidad and Tobago,824,611,0.000000
206,Tunisia,430,39,3.492547
207,Turkey,4897,64,28.536690
208,Turkmenistan,1102,210,0.000000
209,Turks and Caicos Islands,3,85,0.000000
210,Tuvalu,...,...,0.000000
211,Uganda,452,12,68.018180
212,Ukraine18,4844,107,8.067312
213,United Arab Emirates,2710,300,0.000000
214,United Kingdom of Great Britain and Northern I...,7920,124,10.600470
215,United Republic of Tanzania,994,20,31.072840
216,United States of America20,90838,286,11.570980
217,United States Virgin Islands,...,...,0.000000
218,Uruguay,196,58,71.605040
219,Uzbekistan,1798,62,21.328410
220,Vanuatu,3,10,14.705880
221,Venezuela (Bolivarian Republic of),2871,95,67.834520
222,Viet Nam,2554,28,45.321520
223,Wallis and Futuna Islands,0,26,0.000000
224,Yemen,344,13,0.000000
225,Zambia,400,26,99.714670
226,Zimbabwe,480,32,52.536120

In [7]:
data.columns=['country','Petajoules','Petajoules','% Renewable']
data

,country,Petajoules,Petajoules,% Renewable
0,Afghanistan,321,10,78.669280
1,Albania,102,35,100.000000
2,Algeria,1959,51,0.551010
3,American Samoa,...,...,0.641026
4,Andorra,9,121,88.695650
5,Angola,642,27,70.909090
6,Anguilla,2,136,0.000000
7,Antigua and Barbuda,8,84,0.000000
8,Argentina,3378,79,24.064520
9,Armenia,143,48,28.236060
10,Aruba,12,120,14.870690
11,Australia1,5386,231,11.810810
12,Austria,1391,164,72.452820
13,Azerbaijan,567,60,6.384345
14,Bahamas,45,118,0.000000
15,Bahrain,574,425,0.000000
16,Bangladesh,1625,10,1.966329
17,Barbados,19,69,0.000000
18,Belarus,1142,120,0.463389
19,Belgium,2338,210,9.959739
20,Belize,13,39,64.690030
21,Benin,170,16,0.000000
22,Bermuda,6,88,0.000000
23,Bhutan,63,83,100.000000
24,Bolivia (Plurinational State of),336,32,31.477120
25,"Bonaire, Sint Eustatius and Saba",5,213,0.000000
26,Bosnia and Herzegovina,266,70,41.464670
27,Botswana,86,39,0.131406
28,Brazil,12149,59,69.648030
29,British Virgin Islands,2,85,0.000000
...,...,...,...,...
197,Switzerland17,1113,136,57.745480
198,Syrian Arab Republic,542,28,11.568270
199,Tajikistan,106,13,99.742920
200,Thailand,5336,79,4.305189
201,The former Yugoslav Republic of Macedonia,117,56,26.140470
202,Timor-Leste,7,6,0.000000
203,Togo,134,19,80.180180
204,Tonga,3,28,0.000000
205,Trinidad and Tobago,824,611,0.000000
206,Tunisia,430,39,3.492547
207,Turkey,4897,64,28.536690
208,Turkmenistan,1102,210,0.000000
209,Turks and Caicos Islands,3,85,0.000000
210,Tuvalu,...,...,0.000000
211,Uganda,452,12,68.018180
212,Ukraine18,4844,107,8.067312
213,United Arab Emirates,2710,300,0.000000
214,United Kingdom of Great Britain and Northern I...,7920,124,10.600470
215,United Republic of Tanzania,994,20,31.072840
216,United States of America20,90838,286,11.570980
217,United States Virgin Islands,...,...,0.000000
218,Uruguay,196,58,71.605040
219,Uzbekistan,1798,62,21.328410
220,Vanuatu,3,10,14.705880
221,Venezuela (Bolivarian Republic of),2871,95,67.834520
222,Viet Nam,2554,28,45.321520
223,Wallis and Futuna Islands,0,26,0.000000
224,Yemen,344,13,0.000000
225,Zambia,400,26,99.714670
226,Zimbabwe,480,32,52.536120

In [8]:
data.head()

          country Petajoules Petajoules  % Renewable
0     Afghanistan        321         10    78.669280
1         Albania        102         35   100.000000
2         Algeria       1959         51     0.551010
3  American Samoa        ...        ...     0.641026
4         Andorra          9        121    88.695650

In [9]:
data.tail(7)

                                country Petajoules Petajoules  % Renewable
220                             Vanuatu          3         10     14.70588
221  Venezuela (Bolivarian Republic of)       2871         95     67.83452
222                            Viet Nam       2554         28     45.32152
223           Wallis and Futuna Islands          0         26      0.00000
224                               Yemen        344         13      0.00000
225                              Zambia        400         26     99.71467
226                            Zimbabwe        480         32     52.53612

In [10]:
data.columns=['country','Energy Supply','Energy Supply per Capita','% Renewable']
data

,country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,321,10,78.669280
1,Albania,102,35,100.000000
2,Algeria,1959,51,0.551010
3,American Samoa,...,...,0.641026
4,Andorra,9,121,88.695650
5,Angola,642,27,70.909090
6,Anguilla,2,136,0.000000
7,Antigua and Barbuda,8,84,0.000000
8,Argentina,3378,79,24.064520
9,Armenia,143,48,28.236060
10,Aruba,12,120,14.870690
11,Australia1,5386,231,11.810810
12,Austria,1391,164,72.452820
13,Azerbaijan,567,60,6.384345
14,Bahamas,45,118,0.000000
15,Bahrain,574,425,0.000000
16,Bangladesh,1625,10,1.966329
17,Barbados,19,69,0.000000
18,Belarus,1142,120,0.463389
19,Belgium,2338,210,9.959739
20,Belize,13,39,64.690030
21,Benin,170,16,0.000000
22,Bermuda,6,88,0.000000
23,Bhutan,63,83,100.000000
24,Bolivia (Plurinational State of),336,32,31.477120
25,"Bonaire, Sint Eustatius and Saba",5,213,0.000000
26,Bosnia and Herzegovina,266,70,41.464670
27,Botswana,86,39,0.131406
28,Brazil,12149,59,69.648030
29,British Virgin Islands,2,85,0.000000
...,...,...,...,...
197,Switzerland17,1113,136,57.745480
198,Syrian Arab Republic,542,28,11.568270
199,Tajikistan,106,13,99.742920
200,Thailand,5336,79,4.305189
201,The former Yugoslav Republic of Macedonia,117,56,26.140470
202,Timor-Leste,7,6,0.000000
203,Togo,134,19,80.180180
204,Tonga,3,28,0.000000
205,Trinidad and Tobago,824,611,0.000000
206,Tunisia,430,39,3.492547
207,Turkey,4897,64,28.536690
208,Turkmenistan,1102,210,0.000000
209,Turks and Caicos Islands,3,85,0.000000
210,Tuvalu,...,...,0.000000
211,Uganda,452,12,68.018180
212,Ukraine18,4844,107,8.067312
213,United Arab Emirates,2710,300,0.000000
214,United Kingdom of Great Britain and Northern I...,7920,124,10.600470
215,United Republic of Tanzania,994,20,31.072840
216,United States of America20,90838,286,11.570980
217,United States Virgin Islands,...,...,0.000000
218,Uruguay,196,58,71.605040
219,Uzbekistan,1798,62,21.328410
220,Vanuatu,3,10,14.705880
221,Venezuela (Bolivarian Republic of),2871,95,67.834520
222,Viet Nam,2554,28,45.321520
223,Wallis and Futuna Islands,0,26,0.000000
224,Yemen,344,13,0.000000
225,Zambia,400,26,99.714670
226,Zimbabwe,480,32,52.536120

In [11]:
data['country']

0                                            Afghanistan
1                                                Albania
2                                                Algeria
3                                         American Samoa
4                                                Andorra
5                                                 Angola
6                                               Anguilla
7                                    Antigua and Barbuda
8                                              Argentina
9                                                Armenia
10                                                 Aruba
11                                            Australia1
12                                               Austria
13                                            Azerbaijan
14                                               Bahamas
15                                               Bahrain
16                                            Bangladesh
17                                              Barbados
18                                               Belarus
19                                               Belgium
20                                                Belize
21                                                 Benin
22                                               Bermuda
23                                                Bhutan
24                      Bolivia (Plurinational State of)
25                      Bonaire, Sint Eustatius and Saba
26                                Bosnia and Herzegovina
27                                              Botswana
28                                                Brazil
29                                British Virgin Islands
                             ...
197                                        Switzerland17
198                                 Syrian Arab Republic
199                                           Tajikistan
200                                             Thailand
201            The former Yugoslav Republic of Macedonia
202                                          Timor-Leste
203                                                 Togo
204                                                Tonga
205                                  Trinidad and Tobago
206                                              Tunisia
207                                               Turkey
208                                         Turkmenistan
209                             Turks and Caicos Islands
210                                               Tuvalu
211                                               Uganda
212                                            Ukraine18
213                                 United Arab Emirates
214    United Kingdom of Great Britain and Northern I...
215                          United Republic of Tanzania
216                           United States of America20
217                         United States Virgin Islands
218                                              Uruguay
219                                           Uzbekistan
220                                              Vanuatu
221                   Venezuela (Bolivarian Republic of)
222                                             Viet Nam
223                            Wallis and Futuna Islands
224                                                Yemen
225                                               Zambia
226                                             Zimbabwe
Name: country, Length: 227, dtype: object

In [17]:
data['Energy Supply']=data['Energy Supply'].replace('...','NaN')
data

G:\AN\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,321,10,78.669280
1,Albania,102,35,100.000000
2,Algeria,1959,51,0.551010
3,American Samoa,NaN,...,0.641026
4,Andorra,9,121,88.695650
5,Angola,642,27,70.909090
6,Anguilla,2,136,0.000000
7,Antigua and Barbuda,8,84,0.000000
8,Argentina,3378,79,24.064520
9,Armenia,143,48,28.236060
10,Aruba,12,120,14.870690
11,Australia1,5386,231,11.810810
12,Austria,1391,164,72.452820
13,Azerbaijan,567,60,6.384345
14,Bahamas,45,118,0.000000
15,Bahrain,574,425,0.000000
16,Bangladesh,1625,10,1.966329
17,Barbados,19,69,0.000000
18,Belarus,1142,120,0.463389
19,Belgium,2338,210,9.959739
20,Belize,13,39,64.690030
21,Benin,170,16,0.000000
22,Bermuda,6,88,0.000000
23,Bhutan,63,83,100.000000
24,Bolivia (Plurinational State of),336,32,31.477120
25,"Bonaire, Sint Eustatius and Saba",5,213,0.000000
26,Bosnia and Herzegovina,266,70,41.464670
27,Botswana,86,39,0.131406
28,Brazil,12149,59,69.648030
29,British Virgin Islands,2,85,0.000000
...,...,...,...,...
197,Switzerland17,1113,136,57.745480
198,Syrian Arab Republic,542,28,11.568270
199,Tajikistan,106,13,99.742920
200,Thailand,5336,79,4.305189
201,The former Yugoslav Republic of Macedonia,117,56,26.140470
202,Timor-Leste,7,6,0.000000
203,Togo,134,19,80.180180
204,Tonga,3,28,0.000000
205,Trinidad and Tobago,824,611,0.000000
206,Tunisia,430,39,3.492547
207,Turkey,4897,64,28.536690
208,Turkmenistan,1102,210,0.000000
209,Turks and Caicos Islands,3,85,0.000000
210,Tuvalu,NaN,...,0.000000
211,Uganda,452,12,68.018180
212,Ukraine18,4844,107,8.067312
213,United Arab Emirates,2710,300,0.000000
214,United Kingdom of Great Britain and Northern I...,7920,124,10.600470
215,United Republic of Tanzania,994,20,31.072840
216,United States of America20,90838,286,11.570980
217,United States Virgin Islands,NaN,...,0.000000
218,Uruguay,196,58,71.605040
219,Uzbekistan,1798,62,21.328410
220,Vanuatu,3,10,14.705880
221,Venezuela (Bolivarian Republic of),2871,95,67.834520
222,Viet Nam,2554,28,45.321520
223,Wallis and Futuna Islands,0,26,0.000000
224,Yemen,344,13,0.000000
225,Zambia,400,26,99.714670
226,Zimbabwe,480,32,52.536120

In [15]:
data['Energy Supply per Capita']

0       10
1       35
2       51
3      ...
4      121
5       27
6      136
7       84
8       79
9       48
10     120
11     231
12     164
13      60
14     118
15     425
16      10
17      69
18     120
19     210
20      39
21      16
22      88
23      83
24      32
25     213
26      70
27      39
28      59
29      85
      ...
197    136
198     28
199     13
200     79
201     56
202      6
203     19
204     28
205    611
206     39
207     64
208    210
209     85
210    ...
211     12
212    107
213    300
214    124
215     20
216    286
217    ...
218     58
219     62
220     10
221     95
222     28
223     26
224     13
225     26
226     32
Name: Energy Supply per Capita, Length: 227, dtype: object

In [16]:
data['% Renewable']

0       78.669280
1      100.000000
2        0.551010
3        0.641026
4       88.695650
5       70.909090
6        0.000000
7        0.000000
8       24.064520
9       28.236060
10      14.870690
11      11.810810
12      72.452820
13       6.384345
14       0.000000
15       0.000000
16       1.966329
17       0.000000
18       0.463389
19       9.959739
20      64.690030
21       0.000000
22       0.000000
23     100.000000
24      31.477120
25       0.000000
26      41.464670
27       0.131406
28      69.648030
29       0.000000
          ...
197     57.745480
198     11.568270
199     99.742920
200      4.305189
201     26.140470
202      0.000000
203     80.180180
204      0.000000
205      0.000000
206      3.492547
207     28.536690
208      0.000000
209      0.000000
210      0.000000
211     68.018180
212      8.067312
213      0.000000
214     10.600470
215     31.072840
216     11.570980
217      0.000000
218     71.605040
219     21.328410
220     14.705880
221     67.834520
222     45.321520
223      0.000000
224      0.000000
225     99.714670
226     52.536120
Name: % Renewable, Length: 227, dtype: float64

In [18]:
data['Energy Supply']=data['Energy Supply']*1000000

G:\AN\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [19]:
data

,country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,321000000,10,78.669280
1,Albania,102000000,35,100.000000
2,Algeria,1959000000,51,0.551010
3,American Samoa,NaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNN...,...,0.641026
4,Andorra,9000000,121,88.695650
5,Angola,642000000,27,70.909090
6,Anguilla,2000000,136,0.000000
7,Antigua and Barbuda,8000000,84,0.000000
8,Argentina,3378000000,79,24.064520
9,Armenia,143000000,48,28.236060
10,Aruba,12000000,120,14.870690
11,Australia1,5386000000,231,11.810810
12,Austria,1391000000,164,72.452820
13,Azerbaijan,567000000,60,6.384345
14,Bahamas,45000000,118,0.000000
15,Bahrain,574000000,425,0.000000
16,Bangladesh,1625000000,10,1.966329
17,Barbados,19000000,69,0.000000
18,Belarus,1142000000,120,0.463389
19,Belgium,2338000000,210,9.959739
20,Belize,13000000,39,64.690030
21,Benin,170000000,16,0.000000
22,Bermuda,6000000,88,0.000000
23,Bhutan,63000000,83,100.000000
24,Bolivia (Plurinational State of),336000000,32,31.477120
25,"Bonaire, Sint Eustatius and Saba",5000000,213,0.000000
26,Bosnia and Herzegovina,266000000,70,41.464670
27,Botswana,86000000,39,0.131406
28,Brazil,12149000000,59,69.648030
29,British Virgin Islands,2000000,85,0.000000
...,...,...,...,...
197,Switzerland17,1113000000,136,57.745480
198,Syrian Arab Republic,542000000,28,11.568270
199,Tajikistan,106000000,13,99.742920
200,Thailand,5336000000,79,4.305189
201,The former Yugoslav Republic of Macedonia,117000000,56,26.140470
202,Timor-Leste,7000000,6,0.000000
203,Togo,134000000,19,80.180180
204,Tonga,3000000,28,0.000000
205,Trinidad and Tobago,824000000,611,0.000000
206,Tunisia,430000000,39,3.492547
207,Turkey,4897000000,64,28.536690
208,Turkmenistan,1102000000,210,0.000000
209,Turks and Caicos Islands,3000000,85,0.000000
210,Tuvalu,NaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNN...,...,0.000000
211,Uganda,452000000,12,68.018180
212,Ukraine18,4844000000,107,8.067312
213,United Arab Emirates,2710000000,300,0.000000
214,United Kingdom of Great Britain and Northern I...,7920000000,124,10.600470
215,United Republic of Tanzania,994000000,20,31.072840
216,United States of America20,90838000000,286,11.570980
217,United States Virgin Islands,NaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNN...,...,0.000000
218,Uruguay,196000000,58,71.605040
219,Uzbekistan,1798000000,62,21.328410
220,Vanuatu,3000000,10,14.705880
221,Venezuela (Bolivarian Republic of),2871000000,95,67.834520
222,Viet Nam,2554000000,28,45.321520
223,Wallis and Futuna Islands,0,26,0.000000
224,Yemen,344000000,13,0.000000
225,Zambia,400000000,26,99.714670
226,Zimbabwe,480000000,32,52.536120